*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins,sans-serif}

body{display:flex;background:#f4f7ff}

/* SIDEBAR */
.sidebar{
width:260px;background:#0b2545;color:#fff;padding:25px;height:100vh;position:fixed
}
.sidebar li{
padding:14px;border-radius:10px;cursor:pointer;margin-bottom:10px
}
.sidebar li:hover,.active{background:#ffcc00;color:#000}

/* CONTENT */
.content{margin-left:260px;padding:30px;width:calc(100% - 260px)}
header h1{font-size:38px;color:#0b2545}
.sub{opacity:.7;margin-top:5px}

/* COURSES */
.course-section{margin-top:40px}
.course-container{
display:grid;grid-template-columns:repeat(auto-fit,minmax(240px,1fr));gap:25px
}

.course-card{
padding:25px;border-radius:18px;color:#fff;text-align:center;
transition:.4s;animation:slide .7s ease
}
.course-card i{font-size:36px;margin-bottom:10px}
.course-card:hover{transform:translateY(-8px) scale(1.03)}

button{
margin-top:15px;padding:10px 25px;border:none;border-radius:10px;font-size:16px;cursor:pointer
}

/* COLORS */
.red{background:#ff4e4e}.blue{background:#1e88e5}.green{background:#43a047}
.yellow{background:#fbc02d;color:#000}.purple{background:#6a1b9a}
.pink{background:#d81b60}.dark{background:#263238}.sky{background:#00acc1}
.teal{background:#00897b}.orange{background:#fb8c00}.indigo{background:#3949ab}
.brown{background:#6d4c41}

@keyframes slide{
from{opacity:0;transform:translateY(40px)}
to{opacity:1;transform:translateY(0)}
}
.fade{animation:fade .8s}
@keyframes fade{from{opacity:0}to{opacity:1}}
