* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 650px;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #00509e;
    font-weight: 800;
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.instruction-list {
    text-align: left;
    font-size: 18px;
    line-height: 1.7;
    color: #444;
    margin-bottom: 32px;
}

button {
    width: 100%;
    padding: 15px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

button:hover {
    background: #005cbf;
}